bazel-*
**/.DS_Store
__pycache__/
*.pyc
.aeva.environment
.bash*
.cache
.vscode
/build/
.idea/
*.swp
*.deb
generated/
.python/
aeva/api/docs/latex/
aeva/api/docs/html/
aeva/matlab/*.bin
aeva/matlab/*.mat
aeva/matlab/timestamp.txt
Pipfile.lock
**/.ipynb
**/.ipynb_checkpoints
aeva/build/npm/node_modules/
aeva/factory_tests/aeva_test_benches/output/web_gui/dist/
aeva/factory_tests/aeva_test_benches/output/web_gui/node_modules/
# ignore ci config files
aeva/sw_tests_ci/data/unit_config.yaml
aeva/sw_tests_ci/data/fw_version.txt
